<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h1>Welcome to SqlTesterize!</h1>
            <p class="lead">This is your homepage, ready for editing</p>

            <p>
             <span translate="main.like">If you like this Angular-Express-Sequelize generator, please give us a star at </span>&nbsp;<a href="https://github.com/rayokota/generator-angular-express-sequelize" target="_blank" translate="main.github">Github</a>!
            </p>
        </div>
    </div>
</div>
