<div>

    <h2>Pages</h2>

    <script type = "text/ng-template" id="page-save.html">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty"
                      ng-submit="ok()">

                    <div class="modal-header">
                        <button type="button" class="close"
                                ng-click="cancel()">&times;</button>
                        <h4 class="modal-title" id="myPageLabel">Create or edit a Page</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="page.id" readonly>
                        </div>

                        
                        <div class="form-group">
                            <label>pageID:</label>
                            
                            <input type="number" class="form-control" name="pageID"
                                   ng-model="page.pageID" ng-required="true"
                                   />
                            <span class="error" ng-show="form.pageID.$error.min">Must be greater than or equal to .</span>
                            <span class="error" ng-show="form.pageID.$error.max">Must be less than or equal to .</span>
                        </div>
                        
                        <div class="form-group">
                            <label>name:</label>
                            
                            <input type="text" class="form-control" name="name"
                                   ng-model="page.name" ng-required="true"
                                   />
                            <span class="error" ng-show="form.name.$error.minlength">Must be at least  characters.</span>
                            <span class="error" ng-show="form.name.$error.maxlength">Must be at most  characters.</span>
                        </div>
                        

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </script>

    <button class="btn btn-primary btn-lg" ng-click="create()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Page
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                
                <th>pageID</th>
                
                <th>name</th>
                
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="page in pages">
                <td>{{page.id}}</td>
                
                <td>{{page.pageID }}</td>
                
                <td>{{page.name }}</td>
                
                <td>
                    <button type="submit"
                            ng-click="update(page.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button type="submit"
                            ng-click="delete(page.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
